# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
.gas-snapshot

# Yarn Environment
node_modules/
.yarn

# vscode
.vscode